<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="lightmode.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--Navbar for Table-->
    <div id="calc">
        <table :class="(mode === 'dark' ? 'calcOptions' : 'light-calcOptions')" cellspacing="10">
            <tr>
                <td>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <a @click="changeTheme()">Theme</a>
                            <a href="./landscape.html">Orientation</a>
                            <a @click="changeFont()">Font</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <!-- Table including buttons and input -->
        <div :class="(font === 'font1' ? 'font1' : 'font2')">
            <table :class="(mode ==='dark' ? 'dark' : 'light')" cellspacing="10">
                <tr>
                    <td colspan="4">
                        <input :class="(mode ==='dark' ? 'dark' : 'light')" type="text" v-model="result" disabled>
                    </td>
                </tr>
                <tr>
                    <td :class="(mode === 'dark' ? 'button-C' : 'light-button-C')" @click="clear">C</td>
                    <td></td>
                    <td :class="(mode === 'dark' ? 'button-O' : 'light-button-O')" @click="setOperator('/')">÷</td>
                    <td :class="(mode === 'dark' ? 'button-O' : 'light-button-O')" @click="setOperator('*')">×</td>
                </tr>
                <tr>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(7)">7</td>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(8)">8</td>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(9)">9</td>
                    <td :class="(mode === 'dark' ? 'button-O' : 'light-button-O')" @click="setOperator('-')">-</td>
                </tr>
                <tr>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(4)">4</td>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(5)">5</td>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(6)">6</td>
                    <td :class="(mode === 'dark' ? 'button-O' : 'light-button-O')" @click="setOperator('+')">+</td>
                </tr>
                <tr>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(1)">1</td>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(2)">2</td>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="test(3)">3</td>
                    <td :class="(mode === 'dark' ? 'button-row2' : 'light-button-row2')" rowspan="2" @click="equal()">=
                    </td>
                </tr>
                <tr>
                    <td :class="(mode === 'dark' ? 'button-col2' : 'light-button-col2')" colspan="2" @click="test(0)">0
                    </td>
                    <td :class="(mode ==='dark' ? 'button' : 'button-light')" @click="addpoint()">.</td>
                </tr>
            </table>
        </div>
        
        <!-- Calculator Log-->
        <section id="log" class="logContainer">
            <h2>Calculator Log</h2>
            <ul>
                <li v-for="message in logMessages">{{ message }}</li>
            </ul>
        </section>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    <script>
        /* When the user clicks on the button, 
        toggle between hiding and showing the dropdown content */
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>

</body>

</html>